---
import { withRef } from "../consts";

const {href, className = '', ...rest} = Astro.props;
const isExternal = typeof href === 'string' && /^https?:\/\//.test(href);
---

<a 
  href={withRef(href)} 
  class={"font-medium text-color-2 " + className}
  target={isExternal ? '_blank' : undefined}
  rel={isExternal ? 'noopener noreferrer' : undefined}
  {...rest}
>
  <slot />
</a>
